*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* font-family: 'Prata', serif;
font-family: 'Raleway', sans-serif; */

:root {
  --main-color: #FDFAF4;
  --title-color: #AD2D11;
  --black: #000000;
  --semi-black: #181515;
  --semi-white: #FDFAF4;
  --yellow: #FACA47;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 1176px;
  margin: 0 auto;
  padding: 124px 20px;
}

.title {
  margin: 0;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: var(--title-color);
}

.text {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.header {
  position: relative;
  width: 976px;
  margin: 0 auto;
}

.header::after {
  content: "";
  position: absolute;
  top: 76px;
  left: 0px;
  right: 0px;
  opacity: 0.15;
  border: 1px solid var(--black);
}

.header__container {
  width: initial;
  position: absolute;
  left: 41px;
  padding: 32px 20px 25px 20px;
}

.header__list {
  display: flex;
  gap: 64px;
  justify-items: center;
}

.header__link {
  font-family: 'Raleway', sans-serif;
  color: var(--black);
}

.hero {
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 299px 20px 334px 20px;
}

.main-title {
  margin-bottom: 8px;
  font-family: 'Prata', serif;
  font-size: 48px;
  line-height: 65px;
}

.hero__title {
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
  letter-spacing: -0.5px;
}

.about {
  background-color: var(--main-color);
}

.about__wrapper {
  display: flex;
  gap: 124px;
}

.about__title {
  margin-bottom: 57px;
}

.about__image {
  width: 771px;
}

.about__text {
  margin-bottom: 144px;
  font-size: 18px;
  line-height: 26px;
}

.about__button {
  width: 76px;
  height: 76px;
  border: 0.5px solid #AD2D11;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.about__button--left {
  margin-right: 24px;
  background-image: url('../img/arrow-left.svg');
}

.about__button--right {
  background-image: url('../img/arrow-right.svg');
}

.about-guide__container {
  padding: 191px 20px 220px;
  background-image: url('../img/bg-peter.png'), url('../img/bg-vase.png');
  background-repeat: no-repeat;
  background-position: right 9px top 58px, left 50px bottom 14px;
}

.about-guide__text {
  font-family: 'Prata', serif;
  font-size: 32px;
  line-height: 54px;
}

.history {
  background-color: var(--main-color);
}

.landmarks__container {
  display: flex;
  flex-direction: column;
}

.landmarks__title {
  margin-bottom: 157px;
}

.landmarks__text {
  align-self: end;
  width: 676px;
  margin-bottom: 180px;
  font-size: 18px;
  line-height: 30px; 
}

.landmark {
  display: flex;
  gap: 24px;
  padding-top: 75px;
  padding-bottom: 100px;
  border-top: 0.5px solid var(--yellow);
}

.landmark__title {
  width: 276px;
  font-size: 24px;
  line-height: 24px;
  color: var(--black);
}

.landmark__text {
  width: 476px;
  font-size: 16px;
  line-height: 26px;
}

.budget {
  background-color: var(--main-color);
}

.map {
  background-color: var(--main-color);
}

.footer {
  background-color: var(--semi-black);
  color: var(--semi-white);
}